<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocdataacquisition.xml">
      </toc>
      <toc
            file="tocdataprocessing.xml">
      </toc>
      <toc
            file="tocdacqsystems.xml">
      </toc>
      <toc
            file="tocadvancedconcepts.xml">
      </toc>
      <toc
            file="toctroubleshoots.xml">
      </toc>
   </extension>

</plugin>
